# Logs
logs
*.log

# env 
*.env
# server/.env
# client/.env

# Node modules and distribution folders
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Build results


# Visual Studio cache/options directory
.vs/



